.header{
    width: 100%;
    height: 200px;
    background-color: black;
}


.box{ 
    border: none;
    transition: scale ease-in-out 100ms;
    
}
.box::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: indianred;
    opacity: 0.5;
    transition: opacity ease-in-out 100ms;
    
}

.box:hover  {
    scale: 1.1;
     
}


.box:hover::before {
    opacity: 0;
}

.boxText{
    width: 100%;
}

.boxInfo{
	
    opacity: 0;
    transition: opacity ease-in-out 500ms;
}

.box:hover .boxInfo {
  
   opacity: 1;
     
}



.link{
    padding: 50px;
    width: 100%;
    display: inline-block;
}